@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap-effect .item:hover {
  border: 1px solid gray;
  border-radius: 10px;
}
.wrap-effect .item:first-of-type {
  background-image: url("/src/features/svg/3.svg");
}
.wrap-effect .item:nth-of-type(2) {
  background-image: url("/src/features/svg/4.svg");
}
.wrap-effect .item:nth-of-type(3) {
  background-image: url("/src/features/svg/5.svg");
}
.wrap-effect .item:last-of-type {
  background-image: url("/src/features/svg/6.svg");
}

.bg-road {
  background-image: url("/src/features/img/bg-values.76d25f0.png");
  background-repeat: no-repeat;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: 30px;
  font-size: 12px;
  opacity: 1;
  background: rgba(205, 205, 205, 0.3);
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.swiper-pagination-bullet-active {
  background: #f3f4f6;
  width: 20px;
  border-radius: 10px;
}
